/* Add global styles here if needed */

.section-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.application-table,
.Details-table,
.scans-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.application-table th,
.Details-table th,
.scans-table th,
.application-table td,
.Details-table td,
.scans-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.application-table th,
.Details-table th,
.scans-table th {
  background-color: #f2f2f2;
}

.execution-details,
.created-by {
  margin-left: 20px;
}

/* ... Your existing styles ... */

.issues-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.issues-table th,
.issues-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.issues-table th {
  background-color: #f2f2f2;
}

/* Add more specific styles as needed for your application */

/* No Data Message Styles */

p.noApplication,
p.noDetails,
p.noScans,
p.noIssues {
  color: #555;
  font-style: italic;
  margin-top: 10px;
}
